# Obsidian Generated
.obsidian/app.json
.obsidian/workspace.json
.obsidian/graph.json
.obsidian/workspace-mobile.json

# Plugin Generated
.obsidian/plugins/obsidian-completr/scanned_words.txt

TUM/2. Semester/EIST