/*

======= Pine Forest Berry Version 1.3.1 =======
by Nilahn

based on snippets of other community themes, mainly Dracula and Minimal



/*--------------------------------------------------------------------------*/



/*-------------------------------------*/
/*             Definitions             */

:root
{


    --font-family-editor:            Inconsolata, Monaco, Consolas, 'Courier New', Courier;
    --font-family-preview:           Avenir, Avenir Next, sans-serif;
    --forest-green-light: #759e93 ;
    --forest-green-faded: #c3d5d0 ;
    --forest-green-dark: #4a6860 ;
    --mint-green: #9dd4cf;
    --forest-green-half: rgb(117, 158, 147, 0.4);
    --berry-red-strong: #c72e6e ;
    --berry-red-light: #ad3266 ;
    --berry-red-faded: #ab687e ;
    --blue-gray-light: #7a859f ;
    --blue-gray: #546285 ;
    --blue-gray-dark: #3b4252 ;
    --blue-gray-darkest: #15181e ;
    --off-white:  #f2f2f2 ;
    --off-white-faded: rgb(242, 242, 242, 0.8);
    --off-white-alt: #e6e6e6 ;
    --off-white-dark: #cccccc ;
    --off-white-darker: #8c8c8c ;
    --orange-yellow: #f2bd77 ;
    --orange-yellow-dark: #eea444 ;
}

/*             Definitions: Light Theme             */
.theme-light {
  --background-primary: var(--off-white);
  --background-primary-faded: var(--off-white-faded);
  --background-primary-alt: var(--off-white-alt);
  --background-dark: var(--blue-gray-dark);
  --background-header-one: var(--background-primary);
  --background-header-two: var(--forest-green-faded);
  --background-secondary: var(--off-white);
  --background-secondary-real: var(--off-white-dark);
  --background-secondary-alt: var(--forest-green-faded);
  --background-accent: var(--forest-green-dark);
  --background-modal: rgba(0, 0, 0, 0.3);
  --background-modifier-border: var(--forest-green-light);
  --background-modifier-form-field: rgba(0, 0, 0, 0.2);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --background-nav: var(--background-primary);
  --background-nav-alt: var(--background-primary-alt);
  --background-code: var(--off-white-alt);
  --graph-background: var(--background-primary);
  --graph-links: rgba(117, 158, 147, 0.7);
  --graph-dots: var(--forest-green-dark);
  --text-accent: var(--orange-yellow-dark); /* links */
  --text-accent-hover: var(--berry-red-strong); /* links hover */
  --text-normal-alt: var(--blue-gray-dark);
  --text-normal:var(--blue-gray-darkest);
  --text-muted: var(--off-white-darker);
  --text-muted-real: var(--off-white-dark);
  --text-faint: var(--forest-green-light); /* light forest green */
  --text-highlight-bg: #f2bd7746;
  --text-highlight: #ad3266;
  --text-error: var(--berry-red-faded);
  --text-error-hover: var(--berry-red-faded);
  --text-selection: rgba(157, 212, 207, 0.5);
  --text-status-bar: var(--forest-green-dark);
  --text-on-accent: var(--off-white);  /*Top-top-bar-text*/
  --text-nav: var(--forest-green-light);
  --interactive-normal: var(--forest-green-light);
  --interactive-hover: var(--orange-yellow-dark);
  --interactive-accent: var(--forest-green-light);
  --interactive-accent-rgb: rgba(117, 158, 147);
  --interactive-accent-hover: var(--orange-yellow-dark);
  --scrollbar-active-thumb-bg: rgba(194, 208, 204, 0.2);
  --scrollbar-bg: rgba(194, 208, 204, 0.05);
  --scrollbar-thumb-bg: rgba(126, 147, 157, 0.1);
  --horizontal-line: var(--forest-green-faded);
  --horizontal-line-element: var(--forest-green-dark);
  --menu-item-hover: var(--off-white);
  --calendar-days: var(--forest-green-dark);
  --calendar-days-hover: var(--text-normal);
  --checklist-done-color: var(--off-white-darker);
  --checkbox-marker-color: var(--background-dark);

  --active-header-border: var(--orange-yellow);
  --active-header-buttons: var(--forest-green-dark);
  --selected-item: var(--forest-green-light);

  --text-title-h1:              #c72e6e;
  --text-title-h2:              #548a7b;
  --text-title-h3:              #95bab0;
  --text-title-h4:              #759e93;
  --text-title-h5:              #548a7b;
  --text-title-h6:              #377362;
  --inline-code:                #c72e6e;
  --code-block:                 #c72e6e;
  --pre-code:                   var(--forest-green-faded);
  --blockquote-border:          var(--forest-green-dark);
  --vim-cursor:                 var(--forest-green-dark);
  --border-color:               var(--forest-green-dark); /*also like transparent*/
}


/*             Definitions: Dark Theme             */
.theme-dark {
  --background-primary: #2e3440;
  --background-primary-alt: #2a2c32;
  --background-secondary: #3b4252;
  --background-secondary-alt: #292c33;
  --background-accent: #f8f8f2;
  --background-header-one: var(--background-primary);
  --background-header-two: var(--forest-green-dark);
  --background-modal: rgba(0, 0, 0, 0.6);
  --background-modifier-border: var(--forest-green-light);
  --background-modifier-form-field: rgba(0, 0, 0, 0.2);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --background-nav: var(--background-primary);
  --background-nav-alt: var(--background-primary-alt);
  --background-code: var(--background-secondary-alt);
  --graph-background: var(--background-primary-alt);
  --graph-links: rgba(157, 212, 207, 0.75);
  --graph-dots: var(--off-white);
  --text-accent: #f2bd77;
  --text-accent-hover: #c72e6e;
  --text-normal: #f8f8f2;
  --text-muted: #f8f8f2;
  --text-muted-real: #f8f8f2;
  --text-faint: #759e93;
  --text-highlight: #ad3266;
  --text-highlight-bg: #d5548a60;
  --text-error: #ab687e;
  --text-error-hover: #ff79c6;
  --text-selection: rgba(157, 212, 207, 0.75);
  --text-status-bar: var(--off-white-dark);
  --text-on-accent: #eddee3;
  --text-nav: var(--forest-green-faded);
  --interactive-normal: #ffffff;
  --interactive-hover: #d47d7d;
  --interactive-accent: #548a7b;
  --interactive-accent-rgb: 123, 108, 217;
  --interactive-accent-hover: #d47d7d;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --horizontal-line: #759e93;
  --horizontal-line-element: #9fd4d6;
  --menu-item-hover: var(--background-primary);
  --calendar-days: var(--off-white-dark);
  --calendar-days-hover: var(--off-white);
  --checklist-done-color: var(--off-white-darker);
  /*--checkbox-marker-color: var(--text-normal);*/

  --active-header-border: var(--forest-green-light);
  --active-header-buttons: var(--off-white);
  --selected-item: var(--forest-green-light);

  --text-title-h1:              #c72e6e;
  --text-title-h2:              #ffffff;
  --text-title-h3:              #95bab0;
  --text-title-h4:              #759e93;
  --text-title-h5:              #548a7b;
  --text-title-h6:              #377362;
  --inline-code:                #759e93;
  --code-block:                 #759e93;
  --pre-code:                   #2e3440;
  --blockquote-border:          #ffb86c;
  --vim-cursor:                 #ff5555;
  --border-color:               #2b2727; /*also like transparent*/
}




/*----------------------------------------*/
/* Basic Formatting in EDITOR and PREVIEW */


/* font for everything outside of editor/preview panes */
.app-container {
  font-family: var(--font-family-preview);
}

/* set the text selection color for preview mode */
::selection {
  background-color: var(--text-selection);
}

/* normal text outside of headings and code of editor */
.cm-s-obsidian, .mod-single-child .cm-s-obsidian {
  font-family: var(--font-family-editor);
  color: var(--text-normal);
}

/* normal text outside of headings and code of preview */
.markdown-preview-view, .mod-single-child .markdown-preview-view {
  font-family: var(--font-family-preview);
  padding-top: 20px;
  padding-left: 2% !important;
  padding-right: 1% !important;
}

/* bold in preview and editor */
strong, .cm-strong {
  font-weight: 600;
  color: var(--berry-red-strong);
}

/* emphasis aka italic in preview and editor */
em, .cm-em {
  color: var(--forest-green-light);
  font-style: italic;
}

/* strikethrough in preview and editor */
s, .cm-strikethrough {
  color: var(--text-muted-real);
}

/* list in editor */
.cm-s-obsidian span.cm-formatting-list {
  color: var(--text-normal) !important;
}

/* horizontal line in preview */
.markdown-preview-view hr {
  background-color: var(--forest-green-dark) !important;
}

/* embedded images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* img hover zoom out img*/
img:hover {
  transform: scale(1.04);
  transition: transform 0.25s ease-in-out 0s;
}

.community-theme img:hover{
  transform: none;
}

/* titlebar and status-bar */

.titlebar {
  color: var(--text-status-bar);
  background-color: var(--background-secondary-alt);
  font-size: var(--font-size-titlebar);
}
.titlebar-button {
  color: var(--text-status-bar);
}
.titlebar-text {
  color: var(--text-status-bar);
}
.titlebar-button:hover {
  color: var(--berry-red-strong);
}


.status-bar{
  color: var(--text-status-bar);
  font-size: var(--font-size-status-bar);
  background-color: var(--background-secondary-alt);
  border-top: 0px;
}
.status-bar-item.plugin-backlink:hover {
  color: var(--berry-red-strong);
}



/* Headings - EDITOR and PREVIEW */

.cm-header-1, .markdown-preview-view h1
{
  font-family: var(--font-family-preview);
  font-weight: 8000;
  color: var(--text-title-h1);
  text-align: left;

}
.cm-header-1, .markdown-editor-view h1
{
  font-family: var(--font-family-editor);
  font-weight: 8000;
  color: var(--text-title-h1);
  text-align: left;

}

.cm-header-2, .markdown-preview-view h2
{
  font-family: var(--font-family-preview);
  font-weight: 800;
  color: var(--text-title-h2);
}
.cm-header-2, .markdown-editor-view h2
{
  font-family: var(--font-family-editor);
  font-weight: 800;
  color: var(--text-title-h2);
}

.cm-header-3, .markdown-preview-view h3
{
  font-family: var(--font-family-preview);
  font-weight: 500;
  color: var(--text-title-h3);
}
.cm-header-3, .markdown-editor-view h3
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  color: var(--text-title-h3);
}

.cm-header-4, .markdown-preview-view h4
{
  font-family: var(--font-family-preview);
  font-weight: 500;
  color: var(--text-title-h4);
}
.cm-header-4, .markdown-editor-view h4
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  color: var(--text-title-h4);
}

.cm-header-5, .markdown-preview-view h5
{
  font-family: var(--font-family-preview);
  font-weight: 500;
  color: var(--text-title-h5);
}
.cm-header-5, .markdown-editor-view h5
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  color: var(--text-title-h5);
}

.cm-header-6, .markdown-preview-view h6
{
  font-family: var(--font-family-preview);
  font-weight: 500;
  color: var(--text-title-h6);
}
.cm-header-6, .markdown-editor-view h6
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  color: var(--text-title-h6);
}



/*--------------------------------------*/
/*            Side Panes                */


/*      Side Panes: Left Nav Pane       */


/* Horizontal rule between Icons and vault in left nav */
.nav-buttons-container {
  border-bottom: 1px solid var(--background-primary);
}

/* The name of the vault */
.nav-folder.mod-root > .nav-file-title, .nav-folder.mod-root > .nav-folder-title {
  color: var(--forest-green-light);
}
.theme-light .nav-folder.mod-root > .nav-file-title, .nav-folder.mod-root > .nav-folder-title {
  color: var(--berry-red-strong);
}

/* Color of left nav tree text */
.nav-file-title, .nav-folder-title {
  color: var(--text-nav);
}


/* New top tabs */
.workspace-tabs {
  background-color: var(--background-nav-alt);
}

.workspace-tab-header-container {
  background-color: var(--background-nav-alt);
  border-right: none;
  border-left: none !important;
}

div.nav-header {
    padding: var(--size-4-2);

}

/* Color of the curve of the top tabs */
.workspace-tab-container-before.is-before-active,
.workspace-tab-container-after.is-after-active,
.workspace-tab-header.is-before-active,
.workspace-tab-header.is-after-active {
  background-color: var(--background-nav);
}

/* Background color of unselected tabs */
.workspace-tab-container-before.is-before-active .workspace-tab-header-inner,
.workspace-tab-container-after.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active .workspace-tab-header-inner,
.workspace-tab-header.is-after-active .workspace-tab-header-inner {
  background-color: var(--background-nav-alt);
}

/* Background color of selected tab */
.workspace-tab-header.is-active {
  background-color: var(--background-nav);
}

/* resize handle coloring */
.workspace-leaf-resize-handle {
  background-color: transparent;
  border: transparent;
}

/* Set the left nav background to same color as ribbon so we can make a curved corner that matches */
.workspace-tabs .workspace-leaf {
  background-color: var(--background-nav-alt);
}

/* Set the left nav background to different color from ribbon, and give a curved corner with statusbar */
.mod-left-split .workspace-tabs .workspace-leaf .workspace-leaf-content {
  background-color: var(--background-nav);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

/* Set the right nav background to different color from ribbon, and give a curved corner with statusbar */
.mod-right-split .workspace-tabs .workspace-leaf .workspace-leaf-content {
  background-color: var(--background-nav);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.side-dock.mod-right {
  border-left: 10px;
}

/* Left nav ribbon background color */
.side-dock-ribbon {
  background-color: var(--background-nav-alt);
}

/* Left nav ribbon background-color */
.side-dock-ribbon-before.is-before-active,
.side-dock-ribbon-after.is-after-active,
.side-dock-ribbon-tab.is-before-active,
.side-dock-ribbon-tab.is-after-active {
  background-color: var(--background-nav-alt);
}

/* Left nav ribbon background-color */
.side-dock-ribbon-before.is-before-active .side-dock-ribbon-tab-inner,
.side-dock-ribbon-after.is-after-active .side-dock-ribbon-tab-inner,
.side-dock-ribbon-tab.is-before-active .side-dock-ribbon-tab-inner,
.side-dock-ribbon-tab.is-after-active .side-dock-ribbon-tab-inner {
  background-color: var(--background-nav-alt);
}

/* Left nav ribbon active background-color */
.side-dock-ribbon-tab.is-active {
  background-color: var(--background-secondary-alt);
}


/* Left nav ribbon active hover text color (icon color) */
.side-dock-ribbon-tab.is-active:hover {
  color: var(--text-accent);
}


/* Left nav ribbon inactive hover text color (icon color) */
.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover {
  color: var(--text-accent) !important ;
}

.nav-files-container {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 var(--size-4-3) var(--size-4-6) var(--size-4-3);
    scroll-padding-block: var(--size-4-2);
    border-left: none;

}



/* Background and text color of selected item in left nav tree */
.nav-file.is-active > .nav-file-title,
.nav-file.is-active > .nav-folder-title,
.nav-file.is-active > .nav-folder-collapse-indicator,
.nav-folder.is-active > .nav-file-title,
.nav-folder.is-active > .nav-folder-title,
.nav-folder.is-active > .nav-folder-collapse-indicator {
  background-color: var(--background-secondary-alt);
  color: var(--text-hightlight-bg);

}

/* Background and text color of selected item in left nav tree - when hovering */
.nav-file.is-active > .nav-file-title:hover,
.nav-file.is-active > .nav-folder-title:hover,
.nav-file.is-active > .nav-folder-collapse-indicator:hover,
.nav-folder.is-active > .nav-file-title:hover,
.nav-folder.is-active > .nav-folder-title:hover,
.nav-folder.is-active > .nav-folder-collapse-indicator:hover {
  background-color: var(--text-accent);
  color: var(--text-nav-selected);
}

/* Background and text color of hovered item in left nav tree */
body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
  background-color: var(--background-secondary-alt);
  color: var(--text-normal);
}
/* Background and text color of hovered collapse indicator in left nav tree */
body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator,
body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator {
  background-color: var(--background-secondary-alt);
  color: var(--text-normal);
}

/* Left Nav menu item - hover background color */
body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
  background-color: var(--background-secondary-alt);
}

/* Left side dock */
.side-dock.mod-left {
  border-right: 1px solid var(--berry-red-strong);
}

/* Context menu hover item */
.menu-item:hover {
  background-color: var(--background-secondary-alt);
  color: var(--text-accent);
}



/*              Side Panes:   Tag Pane                  */


/* Additional left/right padding for tag pane so hover background has some room */
.tag-pane-tags {
  padding-left: 10px;
  padding-right: 5px;
}

/* Color the hover background like we do the selected left nav */
.tag-pane-tag:hover {
  background-color: none;
  color: var(--off-white);
}

/* Tag count */
.tag-pane-tag-count {
  background-color: var(--forest-green-dark);
  color: var(--off-white);
}


/*******************************************/
/*        backlink pane                    */
/*******************************************/


/* Backlinks title match hover */
.search-result-file-title:hover {
  background-color: var(--background-nav-alt);
}

/* Backlinks content match hover */
.search-result-file-match:hover {
  background-color: var(--background-nav-alt);
}

/* Backlink titles for matches */
.search-result-file-title {
  color: var(--forest-green-light);
}

/* Backlink highlighted [[links]] */
.search-result-file-matched-text {
  color: var(--off-white);
  background-color: var(--berry-red-faded);
  padding: 2px;
  border-radius: 4px;
}

button:not(.clickable-icon) {
    /* background-color: var(--interactive-normal); */
    box-shadow: var(--input-shadow);
}

/* Add button hovers to the the Update internal links modal (and possibly others) */
.modal-button-container button:not(.mod-warning):hover {
  background-color: var(--text-accent);
  color: var(--text-normal);
}

/* Background color of rename inputs */
.nav-file-title-content.is-being-renamed,
.nav-folder-title-content.is-being-renamed {
  cursor: text;
  border-color: var(--interactive-accent);
  background-color: var(--background-nav);
  padding-left: 15px;
}

/* Background color of file tags, like "png" */
.nav-file-tag {
  background-color: var(--forest-green-faded);
  color: var(--text-normal);
}
.theme-dark .nav-file-tag{
  background-color: var(--forest-green-light);
  color: var(--text-normal);
}

/* Remove the border, padding, and margin for the transcludes/embeds */
.markdown-preview-view .markdown-embed, .markdown-preview-view .file-embed {
  border: 0px;
  padding: 0;
  margin: 0;
}

/* Hide the title of the embeds */
.markdown-embed-title {
  display: none;
}

/* Allow a full embed, not a partial, scrolling embed */
.markdown-preview-view .markdown-embed-content {
  max-height: unset;
  overflow-y: unset;
  padding-right: unset;
}
.markdown-preview-view .markdown-embed-content > .markdown-preview-view {
  max-height: unset;
}

#calendar-container {
  --color-background-heading: transparent;

  --color-background-day: transparent;
  --color-background-day-empty: transparent;
  --color-background-day-active: var(--interactive-accent);
  --color-background-day-hover: var(--text-accent);

  --color-dot: var(--text-highlight);
  --color-arrow: var(--text-nav);

  --color-text-title: var(--text-faint);
  --color-text-heading: var(--text-faint);
  --color-text-day: var(--calendar-days);
  --color-text-today: var(--orange-yellow-dark);
}





/***************************************/
/*  resize-handle and borders          */
/***************************************/

/*vertical resize-handle*/
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle{
  padding: 2px;
  background-color: var(--background-secondary-alt);
}

/*horizontal resize-handle*/
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle{

  background-color: var(--background-secondary-alt);
}

/*workspace ribbon when collapsed*/
.workspace-ribbon.is-collapsed {
  background-color: var(--background-nav-alt);
  border: transparent;
}

/*the vertical split*/
.workspace-split.mod-root .workspace-split.mod-vertical .workspace-leaf-content,
.workspace-split.mod-vertical > .workspace-split,
.workspace-split.mod-vertical > .workspace-leaf,
.workspace-tabs{
  padding-right: 0px;
}



.document-search-container{
  background-color: var(--background-secondary-real);
  border-top: 0px;
  border-right: 0px;
  z-index: inherit;
}

.workspace-ribbon {
  border-right: none;
}

.workspace-ribbon.mod-left:before {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--titlebar-background);
    content: " ";
    border-bottom: none;
    height: calc(var(--header-height) - var(--tab-outline-width));
    width: var(--ribbon-width);
}

.workspace-ribbon.mod-left.is-collapsed{
  border-right: 1px solid var(--border-color);
  background-color: var(--background-nav-alt);
  border-bottom: none;
}

.workspace-ribbon.mod-right.is-collapsed{
  border-left: 1px solid var(--border-color);
  background-color: var(--background-nav-alt);
}

/*************************************/
/*                tags               */
/*************************************/

/* Tag hover in preview */
a.tag:hover {
  color: white !important;
  /* background-color: var(--text-faint);*/
}

/* Tag Color in editor and preview*/
.cm-hashtag, a.tag {
  color: var(--text-normal) !important;
  text-decoration: none !important;
  font-style: normal !important;
}


/*********************************/
/*             link              */
/*********************************/

/* link */
a,
.internal-link,
.cm-hmd-internal-link,
.cm-link,
.cm-formatting-link,
.cm-url {
  text-decoration: none !important;
}

.markdown-rendered mark .internal-link {
  color: var(--text-accent);
}
.markdown-rendered mark .internal-link:hover {
  color: var(--link-color-hover);
}


.markdown-rendered .internal-link.is-unresolved {
    color: var(--text-accent);
    opacity: var(--link-unresolved-opacity);
    filter: var(--link-unresolved-filter);
    text-decoration-style: var(--link-unresolved-decoration-style);
    text-decoration-color: var(--link-unresolved-decoration-color);
}

/* the url string in editor */
.cm-s-obsidian span.cm-string{
  color: var(--text-accent-hover) !important;
}

/* make external links italics to differentiate */
a:not(.internal-link) {
  font-style: italic;
}

/*footnote*/
.cm-s-obsidian pre.HyperMD-footnote span.cm-hmd-footnote,
.cm-s-obsidian span.cm-footref {
  color: var(--text-accent) !important;
}

/***************************************/
/*                Cursor               */
/***************************************/

/* Cursor color and opacity */

.cm-fat-cursor .CodeMirror-cursor, .cm-animate-fat-cursor
 {
  width: 0.5em;
  background: var(--vim-cursor);
  opacity: 60% !important;
}



/***************************************/
/*               Code                  */
/***************************************/


/* Preview Code Block*/

.markdown-preview-view code {
    color: var(--inline-code);
}

/* Preview Code Block Active*/
 .theme-dark .workspace-split.mod-vertical :not(:last-child) .workspace-leaf.mod-active .view-content pre[class*="language-"] {
    background: var(--background-code);
    border:1px solid var(--orange-yellow);
}

.cm-s-obsidian pre.HyperMD-codeblock.CodeMirror-line {
    color: var(--inline-code);
}

/* Edit Code Block Mid*/
.cm-s-obsidian div.HyperMD-codeblock-bg {
    background: var(--background-code);
    border-left:1px solid var(--berry-red-strong);
    border-right:1px solid var(--background-primary);
}

/* Edit Code Block Top */
.theme-dark .cm-s-obsidian pre.HyperMD-codeblock-begin{
    border-top: 1px solid var(--background-primary);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Edit Code Block Bottom */
.theme-dark .cm-s-obsidian pre.HyperMD-codeblock-end{
    border-bottom: 1px solid var(--background-primary);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Edit Code Block Mid Active*/
.workspace-split.mod-vertical :not(:last-child) .workspace-leaf.mod-active .view-content .cm-s-obsidian div.HyperMD-codeblock-bg{
    background: none;
}

/* Edit Code Line */
.cm-s-obsidian span.cm-inline-code, .cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight){
    color: var(--inline-code);
    background: var(--background-code);
    border-top:1px solid var(--background-primary-alt);
    border-bottom:1px solid var(--background-primary-alt);
}

.span.cm-formatting.cm-forting-code.cm-inline-code {
    color: var(--inline-code);
    background: var(--background-code);

}



/***************************************/
/*              Brackets               */
/***************************************/

.cm-s-obsidian span.cm-formatting-link {
  color: var(--text-accent);
}

/***************************************/
/*             Blockquote              */
/***************************************/

/* for editor */
.cm-quote {
  color: var(--text-normal);
  font-style: italic;
}

/* for preview */
.markdown-preview-view blockquote {
  background-color: var(--background-primary);
  border: 0px solid;
  border-color: var(--orange-yellow-dark) ;
  border-left-width: 4px ;
  border-radius: 0 8px 8px 0;
  line-height: 1.5em;
  margin: 30px 0px;
  font-style: italic;
}



/***************************************/
/*               Checkbox              */
/***************************************/


body {
  --checkbox-radius: 50%;
  --checkbox-top: 2px;
  --checkbox-left: 0px;
  --checkbox-margin: 0px 6px 0px -2em; }

.checkbox-square {
  --checkbox-size: calc(var(--font-text-size) * 0.85);
  --checkbox-radius: 4px;
  --checkbox-top: 1px;
  --checkbox-left: 0px;
  --checkbox-margin: 0px 8px 0px -2em; }

body.minimal-strike-lists {
  --checklist-done-decoration: line-through; }

body:not(.minimal-strike-lists) {
  --checklist-done-decoration: none;
  --checklist-done-color: var(--text-normal); }

.markdown-preview-section > .contains-task-list {
  padding-bottom: 0.5em; }

.mod-cm6 .HyperMD-task-line[data-task] .cm-formatting-list-ol ~ .task-list-label .task-list-item-checkbox {
  margin: 1px; }

.markdown-preview-view .task-list-item-checkbox {
  position: relative;
  top: var(--checkbox-top);
  left: var(--checkbox-left);
  line-height: 0; }

.markdown-preview-view ul > li.task-list-item {
  text-indent: 0;
  line-height: var(--line-height); }

.is-mobile .mod-cm6 .HyperMD-task-line[data-task] .task-list-item-checkbox {
  margin-inline-start: -0.4em; }

.is-mobile .markdown-preview-view input[type=checkbox].task-list-item-checkbox {
  top: 0.2em; }

.minimal-code-scroll {
  --code-white-space: pre; }
  .minimal-code-scroll .HyperMD-codeblock.HyperMD-codeblock-bg {
    overflow-y: scroll;
    white-space: pre; }
  .minimal-code-scroll .cm-hmd-codeblock {
    white-space: pre !important; }

@media print {
  .print {
    --code-background: #eee !important; } }

input[data-task=">"]:checked,
input[data-task="!"]:checked,
input[data-task="-"]:checked,
input[data-task="<"]:checked,
input[data-task="l"]:checked,
input[data-task="*"]:checked,
input[data-task="I"]:checked,
input[data-task="p"]:checked,
input[data-task="f"]:checked,
input[data-task="k"]:checked,
input[data-task="u"]:checked,
input[data-task="w"]:checked,
input[data-task="c"]:checked,
input[data-task="d"]:checked,
input[data-task="b"]:checked,
li[data-task=">"] > input:checked,
li[data-task="!"] > input:checked,
li[data-task="-"] > input:checked,
li[data-task="<"] > input:checked,
li[data-task="l"] > input:checked,
li[data-task="*"] > input:checked,
li[data-task="I"] > input:checked,
li[data-task="p"] > input:checked,
li[data-task="f"] > input:checked,
li[data-task="k"] > input:checked,
li[data-task="u"] > input:checked,
li[data-task="d"] > input:checked,
li[data-task="w"] > input:checked,
li[data-task="c"] > input:checked,
li[data-task="b"] > input:checked,
li[data-task=">"] > p > input:checked,
li[data-task="!"] > p > input:checked,
li[data-task="-"] > p > input:checked,
li[data-task="<"] > p > input:checked,
li[data-task="l"] > p > input:checked,
li[data-task="*"] > p > input:checked,
li[data-task="I"] > p > input:checked,
li[data-task="p"] > p > input:checked,
li[data-task="f"] > p > input:checked,
li[data-task="k"] > p > input:checked,
li[data-task="u"] > p > input:checked,
li[data-task="d"] > p > input:checked,
li[data-task="w"] > p > input:checked,
li[data-task="c"] > p > input:checked,
li[data-task="b"] > p > input:checked,  {
  --checkbox-marker-color: transparent;
  border: none;
  border-radius: 0;
  background-image: none;
  background-color: currentColor;
  -webkit-mask-size: var(--checkbox-icon);
  -webkit-mask-position: 50% 50%; }

/* [>] Forwarded */
input[data-task=">"]:checked,
li[data-task=">"] > input:checked,
li[data-task=">"] > p > input:checked {
  color: var(--text-faint);
  transform: rotate(90deg);
  -webkit-mask-position: 50% 100%;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath d='M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z' /%3E%3C/svg%3E"); }

/* [<] Schedule */
input[data-task="<"]:checked,
li[data-task="<"] > input:checked,
li[data-task="<"] > p > input:checked {
  color: var(--text-faint);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z' clip-rule='evenodd' /%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z' clip-rule='evenodd' /%3E%3C/svg%3E"); }

/* [?] Question */
input[data-task="?"]:checked,
li[data-task="?"] > input:checked,
li[data-task="?"] > p > input:checked {
  --checkbox-marker-color: transparent;
  background-color: var(--orange-yellow);
  border-color: var(--orange-yellow);
  background-position: 50% 50%;
  background-size: 200% 90%;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"%3E%3Cpath fill="white" fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215c0 1.344-.665 2.288-1.79 2.973c-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712c1.03-.632 1.397-1.135 1.397-2.028c0-.979-.758-1.698-1.926-1.698c-1.009 0-1.71.529-1.938 1.402c-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09c0-.618-.473-1.092-1.095-1.092c-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14Z"%2F%3E%3C%2Fsvg%3E'); }
.theme-dark input[data-task="?"]:checked,
.theme-dark li[data-task="?"] > input:checked,
.theme-dark li[data-task="?"] > p > input:checked {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"%3E%3Cpath fill="black" fill-opacity="0.8" fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215c0 1.344-.665 2.288-1.79 2.973c-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712c1.03-.632 1.397-1.135 1.397-2.028c0-.979-.758-1.698-1.926-1.698c-1.009 0-1.71.529-1.938 1.402c-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09c0-.618-.473-1.092-1.095-1.092c-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14Z"%2F%3E%3C%2Fsvg%3E'); }

/* [/] Incomplete */
input[data-task="/"]:checked,
li[data-task="/"] > input:checked,
li[data-task="/"] > p > input:checked {
  background-image: none;
  background-color: transparent;
  position: relative;
  overflow: hidden; }
  input[data-task="/"]:checked:after,
  li[data-task="/"] > input:checked:after,
  li[data-task="/"] > p > input:checked:after {
    top: 0;
    left: 0;
    content: " ";
    display: block;
    position: absolute;
    background-color: var(--forest-green-light);
    width: calc(50% - 0.5px);
    height: 100%;
    -webkit-mask-image: none; }

/* [!] Important */
input[data-task="!"]:checked,
li[data-task="!"] > input:checked,
li[data-task="!"] > p > input:checked {
  --checkbox-marker-color: transparent;
  background-color: var(--berry-red-strong);
  border-color: var(--orange-yellow);
  background-position: 50% 50%;
  background-size: 200% 90%;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z' clip-rule='evenodd' /%3E%3C/svg%3E"); }
.theme-dark input[data-task="!"]:checked,
.theme-dark li[data-task="!"] > input:checked,
.theme-dark li[data-task="!"] > p > input:checked {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z' clip-rule='evenodd' /%3E%3C/svg%3E"); }

  /* ["] Quote */
input[data-task="“"]:checked,
li[data-task="“"] > input:checked,
li[data-task="“"] > p > input:checked,
input[data-task="\""]:checked,
li[data-task="\""] > input:checked,
li[data-task="\""] > p > input:checked {
  --checkbox-marker-color: transparent;
  background-position: 50% 50%;
  background-color: var(--color-cyan);
  border-color: var(--color-cyan);
  background-size: 75%;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="white" d="M6.5 10c-.223 0-.437.034-.65.065c.069-.232.14-.468.254-.68c.114-.308.292-.575.469-.844c.148-.291.409-.488.601-.737c.201-.242.475-.403.692-.604c.213-.21.492-.315.714-.463c.232-.133.434-.28.65-.35l.539-.222l.474-.197l-.485-1.938l-.597.144c-.191.048-.424.104-.689.171c-.271.05-.56.187-.882.312c-.318.142-.686.238-1.028.466c-.344.218-.741.4-1.091.692c-.339.301-.748.562-1.05.945c-.33.358-.656.734-.909 1.162c-.293.408-.492.856-.702 1.299c-.19.443-.343.896-.468 1.336c-.237.882-.343 1.72-.384 2.437c-.034.718-.014 1.315.028 1.747c.015.204.043.402.063.539l.025.168l.026-.006A4.5 4.5 0 1 0 6.5 10zm11 0c-.223 0-.437.034-.65.065c.069-.232.14-.468.254-.68c.114-.308.292-.575.469-.844c.148-.291.409-.488.601-.737c.201-.242.475-.403.692-.604c.213-.21.492-.315.714-.463c.232-.133.434-.28.65-.35l.539-.222l.474-.197l-.485-1.938l-.597.144c-.191.048-.424.104-.689.171c-.271.05-.56.187-.882.312c-.317.143-.686.238-1.028.467c-.344.218-.741.4-1.091.692c-.339.301-.748.562-1.05.944c-.33.358-.656.734-.909 1.162c-.293.408-.492.856-.702 1.299c-.19.443-.343.896-.468 1.336c-.237.882-.343 1.72-.384 2.437c-.034.718-.014 1.315.028 1.747c.015.204.043.402.063.539l.025.168l.026-.006A4.5 4.5 0 1 0 17.5 10z"%2F%3E%3C%2Fsvg%3E'); }
.theme-dark input[data-task="“"]:checked,
.theme-dark li[data-task="“"] > input:checked,
.theme-dark li[data-task="“"] > p > input:checked,
.theme-dark input[data-task="\""]:checked,
.theme-dark li[data-task="\""] > input:checked,
.theme-dark li[data-task="\""] > p > input:checked {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="black" fill-opacity="0.7" d="M6.5 10c-.223 0-.437.034-.65.065c.069-.232.14-.468.254-.68c.114-.308.292-.575.469-.844c.148-.291.409-.488.601-.737c.201-.242.475-.403.692-.604c.213-.21.492-.315.714-.463c.232-.133.434-.28.65-.35l.539-.222l.474-.197l-.485-1.938l-.597.144c-.191.048-.424.104-.689.171c-.271.05-.56.187-.882.312c-.318.142-.686.238-1.028.466c-.344.218-.741.4-1.091.692c-.339.301-.748.562-1.05.945c-.33.358-.656.734-.909 1.162c-.293.408-.492.856-.702 1.299c-.19.443-.343.896-.468 1.336c-.237.882-.343 1.72-.384 2.437c-.034.718-.014 1.315.028 1.747c.015.204.043.402.063.539l.025.168l.026-.006A4.5 4.5 0 1 0 6.5 10zm11 0c-.223 0-.437.034-.65.065c.069-.232.14-.468.254-.68c.114-.308.292-.575.469-.844c.148-.291.409-.488.601-.737c.201-.242.475-.403.692-.604c.213-.21.492-.315.714-.463c.232-.133.434-.28.65-.35l.539-.222l.474-.197l-.485-1.938l-.597.144c-.191.048-.424.104-.689.171c-.271.05-.56.187-.882.312c-.317.143-.686.238-1.028.467c-.344.218-.741.4-1.091.692c-.339.301-.748.562-1.05.944c-.33.358-.656.734-.909 1.162c-.293.408-.492.856-.702 1.299c-.19.443-.343.896-.468 1.336c-.237.882-.343 1.72-.384 2.437c-.034.718-.014 1.315.028 1.747c.015.204.043.402.063.539l.025.168l.026-.006A4.5 4.5 0 1 0 17.5 10z"%2F%3E%3C%2Fsvg%3E'); }

/* [-] Canceled */
input[data-task="-"]:checked,
li[data-task="-"] > input:checked,
li[data-task="-"] > p > input:checked {
  color: var(--text-faint);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd' /%3E%3C/svg%3E"); }

body:not(.tasks) .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task]:is([data-task="-"]),
body:not(.tasks) .markdown-preview-view ul li[data-task="-"].task-list-item.is-checked,
body:not(.tasks) li[data-task="-"].task-list-item.is-checked {
  color: var(--text-faint);
  text-decoration: line-through solid var(--text-faint) 1px; }

/* [*] Star */
input[data-task="*"]:checked,
li[data-task="*"] > input:checked,
li[data-task="*"] > p > input:checked {
  color: var(--color-yellow);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z' /%3E%3C/svg%3E"); }

/* [l] Location */
input[data-task="l"]:checked,
li[data-task="l"] > input:checked,
li[data-task="l"] > p > input:checked {
  color: var(--color-red);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z' clip-rule='evenodd' /%3E%3C/svg%3E"); }

/* [i] Info */
input[data-task="i"]:checked,
li[data-task="i"] > input:checked,
li[data-task="i"] > p > input:checked {
  --checkbox-marker-color: transparent;
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  background-position: 50%;
  background-size: 100%;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"%3E%3Cpath fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="40" d="M196 220h64v172"%2F%3E%3Cpath fill="none" stroke="white" stroke-linecap="round" stroke-miterlimit="10" stroke-width="40" d="M187 396h138"%2F%3E%3Cpath fill="white" d="M256 160a32 32 0 1 1 32-32a32 32 0 0 1-32 32Z"%2F%3E%3C%2Fsvg%3E'); }
.theme-dark input[data-task="i"]:checked,
.theme-dark li[data-task="i"] > input:checked,
.theme-dark li[data-task="i"] > p > input:checked {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"%3E%3Cpath fill="none" stroke="black" stroke-opacity="0.8" stroke-linecap="round" stroke-linejoin="round" stroke-width="40" d="M196 220h64v172"%2F%3E%3Cpath fill="none" stroke="black" stroke-opacity="0.8" stroke-linecap="round" stroke-miterlimit="10" stroke-width="40" d="M187 396h138"%2F%3E%3Cpath fill="black" fill-opacity="0.8" d="M256 160a32 32 0 1 1 32-32a32 32 0 0 1-32 32Z"%2F%3E%3C%2Fsvg%3E'); }

/* [S] Amount/savings/money */
input[data-task="S"]:checked,
li[data-task="S"] > input:checked,
li[data-task="S"] > p > input:checked {
  --checkbox-marker-color: transparent;
  border-color: var(--color-green);
  background-color: var(--color-green);
  background-size: 100%;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48"%3E%3Cpath fill="white" fill-rule="evenodd" d="M26 8a2 2 0 1 0-4 0v2a8 8 0 1 0 0 16v8a4.002 4.002 0 0 1-3.773-2.666a2 2 0 0 0-3.771 1.332A8.003 8.003 0 0 0 22 38v2a2 2 0 1 0 4 0v-2a8 8 0 1 0 0-16v-8a4.002 4.002 0 0 1 3.773 2.666a2 2 0 0 0 3.771-1.332A8.003 8.003 0 0 0 26 10V8Zm-4 6a4 4 0 0 0 0 8v-8Zm4 12v8a4 4 0 0 0 0-8Z" clip-rule="evenodd"%2F%3E%3C%2Fsvg%3E'); }
.theme-dark input[data-task="S"]:checked,
.theme-dark li[data-task="S"] > input:checked,
.theme-dark li[data-task="S"] > p > input:checked {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48"%3E%3Cpath fill-opacity="0.8" fill="black" fill-rule="evenodd" d="M26 8a2 2 0 1 0-4 0v2a8 8 0 1 0 0 16v8a4.002 4.002 0 0 1-3.773-2.666a2 2 0 0 0-3.771 1.332A8.003 8.003 0 0 0 22 38v2a2 2 0 1 0 4 0v-2a8 8 0 1 0 0-16v-8a4.002 4.002 0 0 1 3.773 2.666a2 2 0 0 0 3.771-1.332A8.003 8.003 0 0 0 26 10V8Zm-4 6a4 4 0 0 0 0 8v-8Zm4 12v8a4 4 0 0 0 0-8Z" clip-rule="evenodd"%2F%3E%3C%2Fsvg%3E'); }

/* [I] Idea/lightbulb */
input[data-task="I"]:checked,
li[data-task="I"] > input:checked,
li[data-task="I"] > p > input:checked {
  color: var(--color-yellow);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath d='M11 3a1 1 0 10-2 0v1a1 1 0 102 0V3zM15.657 5.757a1 1 0 00-1.414-1.414l-.707.707a1 1 0 001.414 1.414l.707-.707zM18 10a1 1 0 01-1 1h-1a1 1 0 110-2h1a1 1 0 011 1zM5.05 6.464A1 1 0 106.464 5.05l-.707-.707a1 1 0 00-1.414 1.414l.707.707zM5 10a1 1 0 01-1 1H3a1 1 0 110-2h1a1 1 0 011 1zM8 16v-1h4v1a2 2 0 11-4 0zM12 14c.015-.34.208-.646.477-.859a4 4 0 10-4.954 0c.27.213.462.519.476.859h4.002z' /%3E%3C/svg%3E"); }

/* [f] Fire */
input[data-task="f"]:checked,
li[data-task="f"] > input:checked,
li[data-task="f"] > p > input:checked {
  color: var(--color-red);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z' clip-rule='evenodd' /%3E%3C/svg%3E"); }

/* [k] Key */
input[data-task="k"]:checked,
li[data-task="k"] > input:checked,
li[data-task="k"] > p > input:checked {
  color: var(--color-yellow);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M18 8a6 6 0 01-7.743 5.743L10 14l-1 1-1 1H6v2H2v-4l4.257-4.257A6 6 0 1118 8zm-6-4a1 1 0 100 2 2 2 0 012 2 1 1 0 102 0 4 4 0 00-4-4z' clip-rule='evenodd' /%3E%3C/svg%3E"); }

/* [u] Up */
input[data-task="u"]:checked,
li[data-task="u"] > input:checked,
li[data-task="u"] > p > input:checked {
  color: var(--color-green);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M12 7a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0V8.414l-4.293 4.293a1 1 0 01-1.414 0L8 10.414l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0L11 10.586 14.586 7H12z' clip-rule='evenodd' /%3E%3C/svg%3E"); }

/* [d] Down */
input[data-task="d"]:checked,
li[data-task="d"] > input:checked,
li[data-task="d"] > p > input:checked {
  color: var(--color-red);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M12 13a1 1 0 100 2h5a1 1 0 001-1V9a1 1 0 10-2 0v2.586l-4.293-4.293a1 1 0 00-1.414 0L8 9.586 3.707 5.293a1 1 0 00-1.414 1.414l5 5a1 1 0 001.414 0L11 9.414 14.586 13H12z' clip-rule='evenodd' /%3E%3C/svg%3E"); }

/* [w] Win */
input[data-task="w"]:checked,
li[data-task="w"] > input:checked,
li[data-task="w"] > p > input:checked {
  color: var(--color-purple);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M6 3a1 1 0 011-1h.01a1 1 0 010 2H7a1 1 0 01-1-1zm2 3a1 1 0 00-2 0v1a2 2 0 00-2 2v1a2 2 0 00-2 2v.683a3.7 3.7 0 011.055.485 1.704 1.704 0 001.89 0 3.704 3.704 0 014.11 0 1.704 1.704 0 001.89 0 3.704 3.704 0 014.11 0 1.704 1.704 0 001.89 0A3.7 3.7 0 0118 12.683V12a2 2 0 00-2-2V9a2 2 0 00-2-2V6a1 1 0 10-2 0v1h-1V6a1 1 0 10-2 0v1H8V6zm10 8.868a3.704 3.704 0 01-4.055-.036 1.704 1.704 0 00-1.89 0 3.704 3.704 0 01-4.11 0 1.704 1.704 0 00-1.89 0A3.704 3.704 0 012 14.868V17a1 1 0 001 1h14a1 1 0 001-1v-2.132zM9 3a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1zm3 0a1 1 0 011-1h.01a1 1 0 110 2H13a1 1 0 01-1-1z' clip-rule='evenodd' /%3E%3C/svg%3E"); }

/* [p] Pros */
input[data-task="p"]:checked,
li[data-task="p"] > input:checked,
li[data-task="p"] > p > input:checked {
  color: var(--color-green);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath d='M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z' /%3E%3C/svg%3E"); }

/* [c] Cons */
input[data-task="c"]:checked,
li[data-task="c"] > input:checked,
li[data-task="c"] > p > input:checked {
  color: var(--color-orange);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath d='M18 9.5a1.5 1.5 0 11-3 0v-6a1.5 1.5 0 013 0v6zM14 9.667v-5.43a2 2 0 00-1.105-1.79l-.05-.025A4 4 0 0011.055 2H5.64a2 2 0 00-1.962 1.608l-1.2 6A2 2 0 004.44 12H8v4a2 2 0 002 2 1 1 0 001-1v-.667a4 4 0 01.8-2.4l1.4-1.866a4 4 0 00.8-2.4z' /%3E%3C/svg%3E"); }

/* [b] Bookmark */
input[data-task="b"]:checked,
li[data-task="b"] > input:checked,
li[data-task="b"] > p > input:checked {
  color: var(--color-orange);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath d='M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z' /%3E%3C/svg%3E"); }



/***************************************/
/*              popover                */
/***************************************/

.popover{
  border: 1px solid var(--border-color);
  background-color: var(--background-secondary);
}
.theme-light .popover{
  border: 1px solid var(--border-color);
  background-color: var(--background-primary);
}

/***************************************/
/*            Side panel               */
/***************************************/

/* search result in backlink or file search */
.search-result-file-title {
  font-size: 15px ;
}

.search-result-file-matches, .search-empty-state {
  font-size: var(--font-size-side-dock);
  color: var(--forest-green-light);
}

/*decrease the spacing between result items*/
.search-result-file-title,
.search-result-file-match {
  padding: 0px 10px;
}

.nav-file-title, .nav-folder-title {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*backlink pane*/
.workspace-leaf-content[data-type="backlink"] .view-content{
  background-color: var(--background-primary);
}

.workspace-leaf-content[data-type="tag"] .tag-pane-tag-count,
.workspace-leaf-content[data-type="tag"] .tag-pane-tag-text {
  font-size: var(--font-size-side-dock);
}

.workspace-leaf-content[data-type="backlink"] .search-result-file-matches {
  font-size: var(--font-size-side-dock);
}
/***************************************/
/* internal embedded link in preview   */
/***************************************/

/* Naked Embeds */
.markdown-embed-title { display: none; }
.markdown-preview-view .markdown-embed-content>:first-child { margin-top: 0; }
.markdown-preview-view .markdown-embed-content>:last-child { margin-bottom: 0; }
/*remove the following two line, you will get border and scroll*/
.markdown-preview-view .markdown-embed { border:none; padding:0; margin:0; }
.markdown-preview-view .markdown-embed-content
{
  max-height: unset;
  background-color: var(--background-secondary-real);
}

/* the link on the top right corner*/
.markdown-embed-link {
color: var(--text-faint) !important;
}

.markdown-embed-link:hover {
color: var(--text-accent) !important;
}

/***************************************/
/*      inactive background            */
/***************************************/

.modal-bg {
  background-color: var(--background-modal);
}
.div.


/***************************************/
/*           control panel             */
/***************************************/

.prompt {
  background-color: var(--background-primary);
}

.prompt .suggestion-item {
  color: var(--text-nav);
}

input.prompt-input {
  background-color: var(--background-secondary-alt);
  color: var(--interactive-accent);
}
input.prompt-input:hover {
  background-color: var(--background-primary);
  color: var(--interactive-accent);
}

.suggestion-item.is-selected {
  background-color: var(--background-secondary-alt);
  color: var(--text-normal);
}




/***************************************/
/*             graph view              */
/***************************************/
.graph-view.color-circle,
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight
{
    color: var(--text-accent) !important;
}

.theme-light .graph-view.color-line-highlight
{
    color: var(--berry-red-strong) !important;
}
.theme-light .graph-view.color-fill-highlight
    {
        color: var(--berry-red-strong) !important;
}

.graph-view.color-text
{
    color: var(--text-normal) !important;
}

.graph-view.color-line {
    color: var(--graph-links);
}

.graph-view.color-fill-unresolved {
color: var(--text-title-h1); /* not existing notes */
Opacity: 0.5 ;
}

.graph-view.color-fill{
    color: var(--graph-dots);
}
.theme-light .graph-view.color-fill{
    color: var(--graph-dots);
}


.workspace-leaf-content[data-type = "graph"] .view-content{
  background-color: var(--graph-background);
}

/***************************************/
/*            settings                 */
/***************************************/
.vertical-tab-header-group-title {
  color: var(--berry-red-strong);
}

.modal.mod-settings button  {
  background-color: var(--forest-green-light);
  color: var(--off-white);
}

.modal.mod-settings button:hover {
  background-color: var(--text-accent);
  color: var(--text-normal);
}
.modal {
  border: 1px solid var(--interactive-accent);
}

.theme-light .modal {
  border: 2px solid var(--interactive-accent);
}

.community-item {
  border: none;
}

.community-item:hover {
  border: 1px solid var(--forest-green-light);
}

.community-modal-readme {
  font: var(--font-family-preview);
}

.community-modal-button-container button {
  background-color: var(--forest-green-light);
  color: var(--off-white);
}

.community-modal-button-container button:hover {
  background-color: var(--text-accent);
  color: var(--off-white);
}


/*Settings Right*/
.modal.mod-settings .vertical-tab-content-container {
    padding: 35px 40px 20px 0;
    height: inherit;
    background-color: var(--background-primary);
}
.horizontal-tab-content, .vertical-tab-content {
    background-color: var(--background-primary);
    padding: 5px 30px;
}

/*Settings Left*/
.vertical-tab-header {
    background-color: var(--background-secondary-alt);
}
.horizontal-tab-nav-item, .vertical-tab-nav-item {
    background-color: var(--background-secondary-alt);
    padding: 10px 6px 10px 24px;
    cursor: default;
    font-size: 16px;
    color: var(--text-faint);
}
.horizontal-tab-nav-item:hover, .vertical-tab-nav-item:hover {
    background-color: var(--menu-item-hover);
    color: var(--text-normal);
}

.theme-light .vertical-tab-header {
  background-color: var(--background-primary-alt);
}

.theme-light .horizontal-tab-nav-item, .vertical-tab-nav-item {
    background-color: var(--background-primary-alt);
    padding: 10px 6px 10px 24px;
    cursor: default;
    font-size: 16px;
    color: var(--text-faint);
}

/*Selected Item*/
.horizontal-tab-nav-item.is-active, .vertical-tab-nav-item.is-active {
    background-color: var(--selected-item);
    color: var(--off-white);
    border-left-color: var(--text-accent);
}


/*Dropdown Arrow*/
.dropdown {
    background-color: var(--forest-green-light);
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E);
    color: var(--off-white);
}
.dropdown:hover {
  background-color: var(--orange-yellow-dark)
}

/*Hotkey*/
.setting-hotkey {
    background-color: var(--background-secondary-alt);
    color: var(--forest-green-dark);
}



/***************************************/
/*            Hide side bar            */
/***************************************/

.workspace-ribbon:not(:hover) .workspace-ribbon-collapse-btn,
.workspace-ribbon:not(:hover) .side-dock-actions,
.workspace-ribbon:not(:hover) .side-dock-settings {
  display:none;
  transition: all 300ms ease-in-out;}
.workspace-ribbon:not(:hover) {
  width: 0px;
  transition: all 300ms ease-in-out;}

.workspace-split.mod-left-split {margin-left: 0px;}
.workspace-split.mod-right-split {margin-right: 0px;}

/***************************************/
/*           width of content          */
/***************************************/

.markdown-source-view.is-readable-line-width .CodeMirror {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-section {
  max-width: 1000px;
  margin-left: 30px;
  margin-right: 30px;
}

/**********************************/
/* ========= Header ==============*/
/**********************************/

.view-header-title{
  font-size: 14px;
  color: var(--text-faint);
}

.view-header-icon, .view-action {
  color: var(--text-faint);
}

.view-header-icon:hover,
.view-action:hover {
  color: var(--orange-yellow);
}

.view-header {
  background-color: var(--background-header-one);
  border-top: 1px solid var(--background-secondary-alt);
  border-bottom: 1px solid var(--background-secondary-alt);

}

.view-header-title-container:after {
  background: none !important ;
}

.view-header-title-container:before {
  background: none !important ;
}

.workspace-leaf.mod-active .view-header-title {
  color: var(--text-normal);
}
.workspace-leaf.mod-active .view-header,
.worksapce-leaf.mod-active .view-header-title-container {
  background-color: var(--background-header-two) ;
  border-top: 1px solid var(--background-secondary-alt) ;
  border-bottom: 3px solid var(--active-header-border) ;
}
.workspace-leaf.mod-active .view-action,
.workspace-leaf.mod-active .view-header-title,
.workspace-leaf.mod-active .view-header-icon {
  color: var(--active-header-buttons);
}
.workspace-leaf.mod-active .view-action:hover {
  color: var(--orange-yellow);
}




/*an active line highlight in vim normal mode
.cm-fat-cursor .CodeMirror-activeline .CodeMirror-linebackground{
  background-color: var(--text-selection) !important;
}*/


/* graph css  */
.theme-dark .graph-view.color-arrow {
  color: #50fa7b;
  }

  .theme-dark .graph-view.color-fill-tag {
    color: #ffb86c;
  }

  .theme-dark .graph-view.color-fill-attachment {
    color: #3b4354;
  }

  .theme-dark .graph-view.color-fill-unresolved {
    color: #a34d61;
  }

  .search-result-collapse-indicator {
    position: absolute;
    left: 0;
    top: -3px;
    color: var(--text-faint);
    transition: transform 100ms ease-in-out;
    padding: 0px  !important;
  }


  /** .... 2.12 Horizontal Rule Formatting */
  /** ...... 2.12.1 Aesthetic Horizontal Rule -- https://github.com/TriDiamond/Obsidian-Obsidianite */

  .markdown-preview-view hr {
    margin-block-start: 2em;
    margin-block-end: 2em;
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, var(--background-primary), var(--horizontal-line), var(--background-primary));
  }

  .markdown-preview-view hr::after {
    /* content: '§'; */
    content: ;
    display: inline-block;
    position: absolute;
    left: 50%;
    /* transform: translate(-50%, -50%) rotate(60deg); */
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: 50% 50%;
    padding: 0.2rem;
    color: var(--horizontal-line-element);
    background-color: var(--background-primary);
  }
